@page "/"
@using SettlementManager.Application.Settlements.DTO
@using SettlementManager.Web.Services.Settlements
@rendermode InteractiveServer
@inject ISettlementService SettlementService

<PageTitle>Settlement Manager App</PageTitle>

<h3>Settlements</h3>

@if (SettlementService.CurrentResponse is null || SettlementService.CurrentResponse.TotalCount == 0)
{
    <button class="btn btn-primary mb-3" @onclick="SettlementService.OpenAddSettlementModal">Add New Settlement</button>
}

@if (SettlementService.CurrentResponse is not null && SettlementService.CurrentResponse.TotalCount > 0)
{
    <div class="input-group mb-3" style="max-width: 300px">
        <input class="form-control" @bind="SettlementService.Search" type="text" placeholder="Search settlements...">
        <div class="input-group-append">
            <button class="btn btn-outline-primary mx-2" @onclick="SettlementService.SearchSettlements">Search</button>
        </div>
    </div>

    <div class="mb-3">
        <label for="pageSizeSlider">Page Size: @SettlementService.PageSize</label>
        <input type="range" id="pageSizeSlider" min="5" max="50" step="5" @onchange="SettlementService.ChangePageSize" value="@SettlementService.PageSize"/>
    </div>

    <button class="btn btn-primary mb-3" @onclick="SettlementService.OpenAddSettlementModal">Add New Settlement</button>

    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Country</th>
            <th>Settlement Name</th>
            <th>Postal Code</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (SettlementDto settlement in SettlementService.CurrentResponse!.Settlements)
        {
            <tr>
                <td>@settlement.Id</td>
                <td>@settlement.Country.Name</td>
                <td>@settlement.Name</td>
                <td>@settlement.PostalCode</td>
                <td>
                    <button class="btn btn-danger btn-sm" @onclick="() => SettlementService.OpenDeleteConfirmationModal(settlement)">Delete</button>
                </td>
            </tr>
        }
        </tbody>
    </table>

    <div class="pagination justify-content-center">
        <li class="page-item">
            <button class="page-link" @onclick="SettlementService.SearchSettlements" disabled="@(!SettlementService.CurrentResponse!.HasPreviousPage)">First</button>
        </li>
        <li class="page-item">
            <button class="page-link" @onclick="SettlementService.PreviousPage" disabled="@(!SettlementService.CurrentResponse!.HasPreviousPage)">Previous</button>
        </li>
        <li class="page-item active">
            <span class="page-link">Page @SettlementService.CurrentResponse!.PageNumber of @SettlementService.CurrentResponse!.PageCount</span>
        </li>
        <li class="page-item">
            <button class="page-link" @onclick="SettlementService.NextPage" disabled="@(!SettlementService.CurrentResponse!.HasNextPage)">Next</button>
        </li>
        <li class="page-item">
            <button class="page-link" @onclick="SettlementService.LastPage" disabled="@(!SettlementService.CurrentResponse!.HasNextPage)">Last</button>
        </li>
    </div>

    <div class="">
        <h5>Total settlements: @SettlementService.CurrentResponse!.TotalCount</h5>
        <h5>Total pages: @SettlementService.CurrentResponse!.PageCount</h5>
    </div>
}
else
{
    <p>No settlements found.</p>
}

@if (SettlementService.IsAddSettlementModalOpen)
{
    <div class="modal show d-block" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add New Settlement</h5>
                    <button type="button" class="btn btn-danger" @onclick="SettlementService.CloseAddSettlementModal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <EditForm Model="SettlementService.NewSettlement">
                        <DataAnnotationsValidator/>
                        <ValidationSummary/>

                        <div class="form-group">
                            <label for="countrySelect">Country</label>
                            <select id="countrySelect" class="form-control" @bind="@SettlementService.NewSettlement.CountryId">
                                @if (SettlementService.Countries is not null)
                                {
                                    @foreach (var country in SettlementService.Countries)
                                    {
                                        <option value="@country.Id">@country.Name</option>
                                    }
                                }
                                else
                                {
                                    <option disabled>Loading countries...</option>
                                }
                            </select>
                            <ValidationMessage For="@(() => SettlementService.NewSettlement.CountryId)"/>
                        </div>

                        <div class="form-group">
                            <label for="name">Settlement Name</label>
                            <InputText id="name" class="form-control" @bind-Value="SettlementService.NewSettlement.Name"/>
                            <ValidationMessage For="@(() => SettlementService.NewSettlement.Name)"/>
                        </div>

                        <div class="form-group">
                            <label for="postalCode">Postal Code</label>
                            <InputText id="postalCode" class="form-control" @bind-Value="SettlementService.NewSettlement.PostalCode"/>
                            <ValidationMessage For="@(() => SettlementService.NewSettlement.PostalCode)"/>
                        </div>
                    </EditForm>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" @onclick="SettlementService.SaveSettlementAsync">Save</button>
                    <button type="button" class="btn btn-secondary" @onclick="SettlementService.CloseAddSettlementModal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
}

@if (SettlementService.IsDeleteConfirmationModalOpen)
{
    <div class="modal show d-block" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Settlement</h5>
                    <button type="button" class="btn btn-danger" @onclick="SettlementService.CloseDeleteConfirmationModal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete <span style="font-weight: bold">@SettlementService.SelectedSettlement.Name</span> settlement?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" @onclick="() => SettlementService.DeleteSettlement(SettlementService.SelectedSettlement.Id)">Delete</button>
                    <button type="button" class="btn btn-secondary" @onclick="SettlementService.CloseDeleteConfirmationModal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
}

@code {

    protected override async Task OnInitializedAsync()
    {
        SettlementService.OnDataChanged = StateHasChanged;
        await SettlementService.GetSettlementsAsync(SettlementService.Search, SettlementService.PageNumber, SettlementService.PageSize);
    }

}